<form class="rules-form" [formGroup]="rulesForm">
  <div class="rules-controls-container" *ngFor="let rule of rulesArray">
    <h4>{{ rule.ruleHeader }}</h4>
    <app-rules-controls
      formArrayName="displayRules"
      (deleteRule)="onRuleDelete($event, rule.ruleFormName)"
      [rules]="getFormArray(rule.ruleFormName).controls"
    ></app-rules-controls>

    <button
      class="rules-form__add-rule"
      type="button"
      (click)="addRuleFormGroup(rule.ruleFormName)"
    >
     NEW RULE
    </button>
  </div>
</form>
